<!DOCTYPE html>
<html>
    <head>

        <title>index</title>
    </head>
    <body>
        <h1>This is the index page</h1>
        t={{ text }}
        {% if t %}
            <p>Hello world</p>
        {% else %}
            <p>Hello {{text}}</p>
        {% endif %}
    </body>
</html>
