<!DOCTYPE html>
<html>
    <head>

        <title>index</title>
    </head>
    <body>
        <h1>This is the more page</h1>
        <ul>
            {% for name in names %}
                <li>{{name}}</li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('index') }}">Back to home</a>

    </body>
</html>
