{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <form action="{{ url_for('hello') }}" method="post">
        <input type="text" name="name" placeholder="Enter Your Name">
        <input type="text" name="mail-id" placeholder="Enter your email">
        <button>Submit</button>
    </form>
{% endblock %}
